{% extends "two-thirds.html" %}

{% block twoThirds %}
  <h1 class="govuk-heading-l">Alert</h1>
  {{ govukTable({
    caption: "Alert details",
    firstCellIsHeader: true,
    rows: data.rows,
    classes: "govuk-!-font-size-16"
  }) }}

  {% if not data.alert.approved_at %}
    {{
      govukButton({
        text: "Edit",
        href: "/alert/" + data.alert.id + "/edit",
        classes: "govuk-button"
      })
    }}
    {% if credentials.scope.includes(scopes.alert.approve) %}
      {{
        govukButton({
          text: "Approve",
          href: "/alert/" + data.alert.id + "/confirm-approve",
          classes: "govuk-button--warning"
        })
      }}
    {% endif %}
    {{
      govukButton({
        text: "Delete",
        href: "/alert/" + data.alert.id + "/confirm-delete",
        classes: "govuk-button--danger"
      })
    }}
  {% endif %}
{% endblock %}
