{% extends "layout.html" %}

{% block contextBanner %}
  <div class="app-context-banner">
    <div class="govuk-width-container">
      {{ govukBreadcrumbs({
        items: [
          { text: "England", href: "/" },
          { text: area.name, href: "/area/{{ area.id }}" }
        ]
      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ area.name }} overview</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="app-statistic-header-row govuk-!-margin-bottom-2">
          <div class="app-statistic-header-icon">
            <img src="{{ assetPath }}/images/alert-types/alert.gif" alt="Flood alert icon">
          </div>
          <span class="app-statistic-header-detail govuk-heading-l govuk-!-margin-bottom-0">
            {{ faCount }}
          </span>
        </div>
        <span class="app-statistic-content govuk-heading-s">
          Flood alerts in force
        </span>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="app-statistic-header-row govuk-!-margin-bottom-2">
          <div class="app-statistic-header-icon">
            <img src="{{ assetPath }}/images/alert-types/warning.gif" alt="Flood warning icon">
          </div>
          <span class="app-statistic-header-detail govuk-heading-l govuk-!-margin-bottom-0">
            {{ fwCount }}
          </span>
        </div>
        <span class="app-statistic-content govuk-heading-s">
          Flood warnings in force
        </span>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="app-statistic-header-row govuk-!-margin-bottom-2">
          <div class="app-statistic-header-icon">
            <img src="{{ assetPath }}/images/alert-types/severe-warning.gif" alt="Severe flood warning icon">
          </div>
          <span class="app-statistic-header-detail govuk-heading-l govuk-!-margin-bottom-0">
            {{ sfwCount}}
          </span>
        </div>
        <span class="app-statistic-content govuk-heading-s">
          Severe flood warnings in force
        </span>
      </div>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">All flood target areas</h2>
    <ul class="govuk-list">
      <li>
        <a href="/area/{{ area.id }}/target-areas?type=fwa" class="govuk-link--no-visited-state">
          {{ fwaCount }} flood warning target areas
        </a>
      </li>
      <li>
        <a href="/area/{{ area.id }}/target-areas?type=faa" class="govuk-link--no-visited-state">
          {{ faaCount }} flood alert target areas
        </a>
      </li>
    </ul>
  </div>
</div>

<div class='govuk-grid-row'>
  <div class="govuk-grid-column-full">
    {{ govukTable({
      caption: 'Area situation',
      captionClasses: 'govuk-visually-hidden',
      firstCellIsHeader: false,
      attributes: { 'data-module': 'moj-sortable-table' },
      head: [
        { text: 'Target Area', attributes: { 'aria-sort': 'none' } },
        { text: 'Type', attributes: { 'aria-sort': 'none' } },
        { text: 'Update or remove due', attributes: { 'aria-sort': 'ascending' } }
      ],
      rows: alertRows
    }) }}
  </div>
</div>
{% endblock %}