{% extends "form.html" %}

{% block beforeForm %}
  <!-- <span class="govuk-caption-l">Question 1 of 2</span> -->
  <!-- <h1 class="govuk-heading-l">Create an alert</h1> -->
{% endblock %}

{% block form %}
  {{
    govukRadios({
      idPrefix: "templateRef",
      name: "templateRef",
      fieldset: {
        legend: {
          text: "Select an alert template",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: data.items
    })
  }}
{% endblock %}
