{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">  
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-8">
    <div class="govuk-grid-column-one-third">
      <div class="app-statistic-header-row govuk-!-margin-bottom-2">
        <div class="app-statistic-header-icon">
          <img src="{{ assetPath }}/images/alert-types/alert.gif" alt="Flood alert icon">
        </div>
        <span class="app-statistic-header-detail govuk-heading-l govuk-!-margin-bottom-0">
          {{ faCount }}
        </span>
      </div>
      <span class="app-statistic-content govuk-heading-m">
        Flood alerts in force
      </span>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-statistic-header-row govuk-!-margin-bottom-2">
        <div class="app-statistic-header-icon">
          <img src="{{ assetPath }}/images/alert-types/warning.gif" alt="Flood warning icon">
        </div>
        <span class="app-statistic-header-detail govuk-heading-l govuk-!-margin-bottom-0">
          {{ fwCount }}
        </span>
      </div>
      <span class="app-statistic-content govuk-heading-m">
        Flood warnings in force
      </span>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="app-statistic-header-row govuk-!-margin-bottom-2">
        <div class="app-statistic-header-icon">
          <img src="{{ assetPath }}/images/alert-types/severe-warning.gif" alt="Severe flood warning icon">
        </div>
        <span class="app-statistic-header-detail govuk-heading-l govuk-!-margin-bottom-0">
          {{ sfwCount}}
        </span>
      </div>
      <span class="app-statistic-content govuk-heading-m">
        Severe flood warnings in force
      </span>
    </div>
  </div>

  <div class='govuk-grid-row'>
    <div class="govuk-grid-column-full">
        {{ govukTable({
            caption: 'Areas',
            captionClasses: 'govuk-visually-hidden',
            firstCellIsHeader: false,
            attributes: { 'data-module': 'moj-sortable-table' },
            head: [
              { text: 'Area', attributes: { 'aria-sort': 'ascending' } },
              { text: 'Alerts in force', attributes: { 'aria-sort': 'none' }, format: 'numeric' },
              { text: 'Warnings in force', attributes: { 'aria-sort': 'none' }, format: 'numeric' },
              { text: 'Severe warnings in force', attributes: { 'aria-sort': 'none' }, format: 'numeric' }
            ],
            rows: rows
        }) }}
    </div>
  </div>
{% endblock %}