{% extends "form.html" %}
{% from "partials/target-area-info.html" import targetAreaInfo %}

{% set formSubmitButtonText = "Continue" %}

{% block contextBanner %}
  <div class="app-context-banner">
    <div class="govuk-width-container">
      {{ govukBreadcrumbs({
        items: [
          { text: "England", href: "/" },
          { text: eaOwner.name, href: "/owner/" + eaOwner.id },
          { text: targetArea.name, href: "/target-area/" + targetArea.code },
          { text: "Issue a flood " + ("warning" if targetArea.is_warning_area else "alert") }
        ]
      }) }}
    </div>
  </div>
{% endblock %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Issue a flood {{ "warning" if targetArea.is_warning_area else "alert" }}</h1>
{% endblock %}

{% block form %}
  {{ govukRadios(fields.type) }}
  {{ govukCharacterCount(fields.headline) }}
  {{ govukCharacterCount(fields.body) }}
{% endblock %}

{% block oneThird %}     
  {{ targetAreaInfo(targetArea) }}
{% endblock %}

{% block scripts %}
  <!-- <script type="text/javascript" src="{{ assetPath }}/vendor/autocomplete/accessible-autocomplete.min.js"></script> -->
  <!-- <script type="text/javascript">
    var selectEl = document.querySelector('#areaCode')
    var templates = {
      inputValue: (ar) => {
        return ar ? `${ar.code} (${ar.name})` : ''
      },
      suggestion: (ar) => {
        return `
          <p style="margin-bottom: 0;">
            <small>${ar.category}</small><br />
            <b>${ar.code}</b> ${ar.name}
          </p>
        `
      }
    }

    accessibleAutocomplete.enhanceSelectElement({
      autoselect: true,
      confirmOnBlur: false,
      defaultValue: '',
      minLength: 3,
      displayMenu: 'overlay',
      selectElement: selectEl,
      // onConfirm: () => {
      //   window.XWS.map('', 'map')
      // }
    })
  </script> -->
{% endblock %}
