{% extends "form.html" %}

{% set formSubmitButtonText = "Continue" %}

{% block styles %}
  <link rel="stylesheet" href="{{ assetPath }}/vendor/autocomplete/accessible-autocomplete.min.css">
  <link rel="stylesheet" href="{{ assetPath }}/css/ol.css" type="text/css">
  <link rel="stylesheet" href="{{ assetPath }}/css/map.css" type="text/css">
{% endblock %}

{% block contextBanner %}
  <div class="app-context-banner">
    <div class="govuk-width-container">
      {{ govukBreadcrumbs({
        items: [
          { text: "England", href: "/" },
          { text: area.name, href: "/area/" + area.id },
          { text: targetArea.name, href: "/target-area/" + targetArea.code },
          { text: "Issue a flood " + ("warning" if targetArea.isWarningArea else "alert") }
        ]
      }) }}
    </div>
  </div>
{% endblock %}

{% block beforeForm %}
  <h1 class="govuk-heading-l">Issue a flood {{ "warning" if targetArea.isWarningArea else "alert" }}</h1>
{% endblock %}

{% block form %}
  {{ govukRadios(fields.type) }}
  {{ govukCharacterCount(fields.headline) }}
  {{ govukCharacterCount(fields.body) }}
{% endblock %}

{% block oneThird %}
  <div id="map"></div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ assetPath }}/vendor/autocomplete/accessible-autocomplete.min.js"></script>
  <script type="text/javascript">
    var selectEl = document.querySelector('#areaCode')
    // var templates = {
    //   inputValue: (ar) => {
    //     return ar ? `${ar.code} (${ar.name})` : ''
    //   },
    //   suggestion: (ar) => {
    //     return `
    //       <p style="margin-bottom: 0;">
    //         <small>${ar.category}</small><br />
    //         <b>${ar.code}</b> ${ar.name}
    //       </p>
    //     `
    //   }
    // }

    // accessibleAutocomplete.enhanceSelectElement({
    //   autoselect: true,
    //   confirmOnBlur: false,
    //   defaultValue: '',
    //   minLength: 3,
    //   displayMenu: 'overlay',
    //   selectElement: selectEl,
    //   // onConfirm: () => {
    //   //   window.XWS.map('', 'map')
    //   // }
    // })
  </script>

  <script src="{{ assetPath }}/vendor/ol/proj4-2.5.0.js"></script>
  <script src="{{ assetPath }}/vendor/ol/ol.js"></script>
  <!-- <script src="{{ assetPath }}/js/map.js"></script> -->
{% endblock %}
