{% extends "layout.html" %}

{% block contextBanner %}
  <div class="app-context-banner">
    <div class="govuk-width-container">
      {{ govukBreadcrumbs({
        items: [
          { text: "England", href: "/" },
          { text: targetArea.ea_owner.name, href: "/owner/" + targetArea.ea_owner.id },
          { text: targetArea.name }
        ]
      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if alert %}
        <p>
          <span class="app-in-force-label">{{ alert.type.name }} in force</span>
        </p>
      {% endif %}

      <h1 class="govuk-heading-xl">
        {{ targetArea.name }} flood {{ "warning" if targetArea.is_warning_area else "alert" }} area
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if alert %}
        <h2 class="govuk-heading-l">
          Issued at {{ alert.updated | date("HH:mm on DD MMMM YYYY") }}
        </h2>

        <p class="govuk-body">{{ alert.headline }}</p>

        <div class="govuk-inset-text">{{ alert.body }}</div>

        {{ govukButton ({
          text: "Update",
          href: "#",
          classes: "govuk-!-margin-bottom-2"
        }) }}
        <br>
        {{ govukButton ({
          text: "Remove",
          href: "#",
          classes: "govuk-button--warning govuk-!-margin-bottom-2"
        }) }}
      {% else %}
        {{ govukInsetText ({
          text: "No flood " + ("warning" if targetArea.is_warning_area else "alert") + " in force",
          classes: "govuk-!-margin-top-0"
        }) }}

        {{ govukButton ({
          text: "Issue a flood " + ("warning" if targetArea.is_warning_area else "alert"),
          href: "/target-area/" + targetArea.code + "/issue",
          classes: "govuk-!-margin-bottom-2"
        }) }}
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Target area information</h2>
      <dl class="govuk-summary-list app-summary-list-vertical">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Code</dt>
          <dd class="govuk-summary-list__value">{{ targetArea.code }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">{{ targetArea.name }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Target area category</dt>
          <dd class="govuk-summary-list__value">
            {{ targetAreaCategoryTag(targetArea.category_id) }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Flooding type</dt>
          <dd class="govuk-summary-list__value">
            {{ targetAreaTypeTag(targetArea.type_id) }}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Description</dt>
          <dd class="govuk-summary-list__value">{{ targetArea.description }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Area</dt>
          <dd class="govuk-summary-list__value">{{ targetArea.ea_area.name }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Owner</dt>
          <dd class="govuk-summary-list__value">
            <a href="/owner/{{ targetArea.ea_owner.id }}">{{ targetArea.ea_owner.name }}</a>
          </dd>
        </div>
      </dl>
    </div>
  </div>
{% endblock %}