{% extends "layout.html" %}

{% block contextBanner %}
  <div class="app-context-banner">
    <div class="govuk-width-container">
      {{ govukBreadcrumbs({
        items: [
          { text: "England", href: "/" },
          { text: eaOwner.name, href: "/owner/" + eaOwner.id },
          { text: targetAreaCategory.name + 's' }
        ]
      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class='govuk-grid-row'>
    <div class="govuk-grid-column-two-thirds">
      <div class="app-target-area-list">
        {#<pre>{{ alerts | dump | safe }}</pre>
        {{ targetAreasList.length }}
        <pre>{{ area | dump(2) | safe }}</pre>#}
        <ul class="govuk-list">
          {% for ta in targetAreasList %}
            <li class="app-target-area-summary govuk-!-margin-bottom-4 {{ 'app-target-area-in-force' if ta.alert }}">
              <div class="app-target-area-header govuk-!-margin-bottom-2">
                <span>
                  <a href="/target-area/{{ ta.code }}" class="govuk-link--no-visited-state">{{ ta.code }}</a>
                </span>
                <span>{{ targetAreaTypeTag(ta.type_id) }}</span>
              </div>
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ ta.name }}</h3>
              <p>{{ ta.description }}</p>
              {% if ta.river_sea %}
                <p><small><b>River or sea:</b> {{ ta.river_sea }}</small></p>
              {% endif %}
              {% if ta.alert %}
                <span class="app-in-force-label">{{ ta.alert.type.name }} in force</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}