{% extends "layout.html" %}
{% from "partials/target-area-info.html" import targetAreaInfo %}

{% block styles %}
  <link rel="stylesheet" href="{{ assetPath }}/css/ol.css" type="text/css">
  <link rel="stylesheet" href="{{ assetPath }}/css/map.css" type="text/css">
{% endblock %}

{% block contextBanner %}
  <div class="app-context-banner">
    <div class="govuk-width-container">
      {{ govukBreadcrumbs({
        items: [
          { text: "England", href: "/" },
          { text: targetArea.ea_owner.name, href: "/owner/" + targetArea.ea_owner.id },
          { text: targetArea.name }
        ]
      }) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if alert %}
        <p>
          <span class="app-in-force-label">{{ alert.type.name }} in force</span>
        </p>
      {% endif %}

      <h1 class="govuk-heading-xl">
        {{ pageHeading }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukDetails({
        summaryText: "View a map of the area",
        html: "<div id='map'></div>"
      }) }}
      {% if alert %}
        <h2 class="govuk-heading-l">
          Issued at {{ alert.updated | date("HH:mm on DD MMMM YYYY") }}
        </h2>

        <p class="govuk-body">{{ alert.headline }}</p>

        <div class="govuk-inset-text">{{ alert.body }}</div>

        {{ govukButton ({
          text: "Update",
          href: "#",
          classes: "govuk-!-margin-bottom-2"
        }) }}
        <br>
        {{ govukButton ({
          text: "Remove",
          href: "#",
          classes: "govuk-button--warning govuk-!-margin-bottom-2"
        }) }}
      {% else %}
        {{ govukInsetText ({
          text: "No flood " + ("warning" if targetArea.is_warning_area else "alert") + " in force",
          classes: "govuk-!-margin-top-0"
        }) }}

        {{ govukButton ({
          text: "Issue a flood " + ("warning" if targetArea.is_warning_area else "alert"),
          href: "/target-area/" + targetArea.code + "/issue",
          classes: "govuk-!-margin-bottom-2"
        }) }}
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">      
      {{ targetAreaInfo(targetArea) }}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ assetPath }}/vendor/ol/ol.js"></script>
  <script src="{{ assetPath }}/js/map.js"></script>
  <script type="text/javascript">
    window.XWS.map('map', '{{ targetArea.code }}')
  </script>
{% endblock %}